<a href="https://colab.research.google.com/github/rherna09/rherna09/blob/main/AdidasVsNike.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv

In [2]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
#Cell will provide a pathway to a link that needs to be copied to gain access to the drive where the data is stored
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
#importing file
link = 'https://drive.google.com/file/d/1cgso5YqdGPkb0GsQsffO8nMeUS_pHI7z/view?usp=sharing'

In [4]:
import pandas as pd
import io
import numpy as np
import seaborn as sns

In [5]:
# to get the id part of the file
id = link.split("/") [-2]
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('Adidas Vs Nike.csv')

In [6]:
#Create value for original data frame.
shoesdf = pd.read_csv('Adidas Vs Nike.csv')

print(shoesdf)

                                           Product Name  Product ID  \
0     Women's adidas Originals NMD_Racer Primeknit S...      AH2430
1                  Women's adidas Originals Sleek Shoes      G27341
2                     Women's adidas Swim Puka Slippers      CM0081
3      Women's adidas Sport Inspired Questar Ride Shoes      B44832
4              Women's adidas Originals Taekwondo Shoes      D98205
...                                                 ...         ...
3263                                 Air Jordan 8 Retro  CI1236-100
3264                         Nike Phantom Venom Club IC  AO0578-717
3265               Nike Mercurial Superfly 7 Academy TF  AT7978-414
3266                                    Nike Air Max 98  AH6799-300
3267                                     Nike P-6000 SE  CJ9585-600

      Listing Price  Sale Price  Discount                    Brand  \
0             14999        7499        50  Adidas Adidas ORIGINALS
1              7599        3799        50         Adidas ORIGINALS
2               999         599        40        Adidas CORE / NEO
3              6999        3499        50        Adidas CORE / NEO
4              7999        3999        50         Adidas ORIGINALS
...             ...         ...       ...                      ...
3263          15995       12797         0                     Nike
3264           4995        3497         0                     Nike
3265           8495        5947         0                     Nike
3266              0       16995         0                     Nike
3267           8995        6297         0                     Nike

                                            Description  Rating  Reviews  \
0     Channeling the streamlined look of an '80s rac...     4.8       41
1     A modern take on adidas sport heritage, tailor...     3.3       24
2     These adidas Puka slippers for women's come wi...     2.6       37
3     Inspired by modern tech runners, these women's...     4.1       35
4     This design is inspired by vintage Taekwondo s...     3.5       72
...                                                 ...     ...      ...
3263  The Air Jordan 8 Retro recaptures the memorabl...     5.0        1
3264  The Nike Phantom Venom Club IC is engineered f...     0.0        0
3265  The soft upper of the Nike Mercurial Superfly ...     5.0        1
3266  The Nike Air Max 98 features the OG design lin...     4.0        4
3267  A mash-up of Pegasus' past, the Nike P-6000 SE...     0.0        0

             Last Visited
0     2020-04-13T15:06:14
1     2020-04-13T15:06:15
2     2020-04-13T15:06:15
3     2020-04-13T15:06:15
4     2020-04-13T15:06:15
...                   ...
3263  2020-04-13T15:41:01
3264  2020-04-13T15:41:03
3265  2020-04-13T15:41:07
3266  2020-04-13T15:41:19
3267  2020-04-13T15:42:57

[3268 rows x 10 columns]

In [7]:
#length of data frame
print('The data base has a shoe total of' ,len(shoesdf))

The data base has a shoe total of 3268

In [8]:
#cleaning data
#get rid of Product ID, Description and Last Visited
best_shoesdf = shoesdf[['Product Name', 'Brand', 'Rating', 'Reviews']]
best_shoesdf

,Product Name,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,Adidas Adidas ORIGINALS,4.8,41
1,Women's adidas Originals Sleek Shoes,Adidas ORIGINALS,3.3,24
2,Women's adidas Swim Puka Slippers,Adidas CORE / NEO,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,Adidas CORE / NEO,4.1,35
4,Women's adidas Originals Taekwondo Shoes,Adidas ORIGINALS,3.5,72
...,...,...,...,...
3263,Air Jordan 8 Retro,Nike,5.0,1
3264,Nike Phantom Venom Club IC,Nike,0.0,0
3265,Nike Mercurial Superfly 7 Academy TF,Nike,5.0,1
3266,Nike Air Max 98,Nike,4.0,4
3267,Nike P-6000 SE,Nike,0.0,0

In [9]:
#information about data frame
best_shoesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  3268 non-null   object
 1   Brand         3268 non-null   object
 2   Rating        3268 non-null   float64
 3   Reviews       3268 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 102.2+ KB

In [10]:
#mean of Rating and Reviews columns in original data frame
best_shoesdf.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Rating      3.242105
Reviews    40.551714
dtype: float64

In [11]:
#spliting original data frame into brand data frames to compare Nike vs Adidas.
nikeshoe = best_shoesdf.groupby(best_shoesdf.Brand)
#Using Nike as the identifier to group the data frame by.
#nike data frame is given the value nikedf
nikedf = nikeshoe.get_group("Nike")
nikedf

                              Product Name Brand  Rating  Reviews
2625        Nike Air Force 1 '07 Essential  Nike     0.0        0
2626                  Nike Air Force 1 '07  Nike     0.0        0
2627          Nike Air Force 1 Sage Low LX  Nike     0.0        0
2628                   Nike Air Max Dia SE  Nike     0.0        0
2629                   Nike Air Max Verona  Nike     0.0        0
...                                    ...   ...     ...      ...
3263                    Air Jordan 8 Retro  Nike     5.0        1
3264            Nike Phantom Venom Club IC  Nike     0.0        0
3265  Nike Mercurial Superfly 7 Academy TF  Nike     5.0        1
3266                       Nike Air Max 98  Nike     4.0        4
3267                        Nike P-6000 SE  Nike     0.0        0

[643 rows x 4 columns]

In [12]:
#creating adidas data frame by row index due to various adidas shoe names. 
#adidas data frame is give the value adidasdf
adidasdf = best_shoesdf.iloc[:2624,:]
print("Shape of adidas dataframe - {}". format(adidasdf.shape))

Shape of adidas dataframe - (2624, 4)

In [13]:
#examining head of adidas dataframe
adidasdf.head()

,Product Name,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,Adidas Adidas ORIGINALS,4.8,41
1,Women's adidas Originals Sleek Shoes,Adidas ORIGINALS,3.3,24
2,Women's adidas Swim Puka Slippers,Adidas CORE / NEO,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,Adidas CORE / NEO,4.1,35
4,Women's adidas Originals Taekwondo Shoes,Adidas ORIGINALS,3.5,72

In [14]:
#comparing length of nike and adidas dataframes
len(adidasdf)
len(nikedf)
print("The length of adidas data frame is " ,len(adidasdf))
print("The length of nike data frame is " , len(nikedf))

The length of adidas data frame is  2624
The length of nike data frame is  643

In [15]:
#comparing avg rating of adidas shoes vs nike shoes
adidas_rating = adidasdf["Rating"].mean()
nike_rating = nikedf["Rating"].mean()
print("The average rating for adidas shoes is " ,round(adidas_rating,2))
print("The average rating for nike shoes is " ,round(nike_rating,2))

The average rating for adidas shoes is  3.37
The average rating for nike shoes is  2.73

In [16]:
#comparing the avg number of reviews for adidas and nike shoes
adidas_reviews = adidasdf["Reviews"].mean()
nike_reviews = nikedf["Reviews"].mean()
print("The average number of reviews for adidas shoes are ", round(adidas_reviews,2))
print("The average number of reviews for nike shoes are " , round(nike_reviews,2))

The average number of reviews for adidas shoes are  48.71
The average number of reviews for nike shoes are  7.18

In [17]:
#sorting by most reviews  and highest rated shoes for adidas data frame
most_rated = best_shoesdf.sort_values(["Rating", "Reviews"], ascending=(False, False))
print("The top 25 highest rated with most reviews shoes are " ,most_rated.head(25))

The top 25 highest rated with most reviews shoes are                                             Product Name  \
267                   Men's adidas Toe Side II Slippers
1800                 Men's adidas Running Asweego Shoes
1849                MEN'S ADIDAS RUNNING NAYO 2.0 SHOES
1039      Men's adidas Sport Inspired Court Adapt Shoes
2505           Men's adidas Originals Liberty Cup Shoes
731      WOMEN'S ADIDAS ORIGINALS ARKYN PRIMEKNIT SHOES
1476          Men's adidas Originals Superstar MG Shoes
1049                   Men's adidas Running Norad Shoes
1972   Men's adidas Sport Inspired Lite Racer RBN Shoes
523          Women's adidas Originals SL Andridge Shoes
2033               MEN'S ADIDAS ORIGINALS GAZELLE SHOES
2596                 Men's Sport Inspired Roguera Shoes
1428            WOMEN'S ADIDAS RUNNING EDGEBOUNCE SHOES
43                  Women's adidas Running Sooraj Shoes
500                     Men's adidas Outdoor Naha Shoes
535       Women's adidas Originals Deerupt Runner Shoes
710                Men's adidas Outdoor Spry II Sandals
1497           Men's adidas Originals Rivalry Low Shoes
2383  Men's adidas Football Predator 19.3 Firm Groun...
719       Women's adidas Sport Inspired Advantage Shoes
2559           Men's adidas Running PulseBoost HD Shoes
595                    Men's Running Adispree 5.0 Shoes
952         MEN'S ADIDAS SPORT INSPIRED COURT 70S SHOES
1201       Women's adidas Originals Supercourt RX Shoes
2361          Men's adidas Football X 19.4 Indoor Shoes

                         Brand  Rating  Reviews
267          Adidas CORE / NEO     5.0       99
1800         Adidas CORE / NEO     5.0       99
1849         Adidas CORE / NEO     5.0       97
1039         Adidas CORE / NEO     5.0       96
2505          Adidas ORIGINALS     5.0       94
731           Adidas ORIGINALS     5.0       92
1476          Adidas ORIGINALS     5.0       90
1049         Adidas CORE / NEO     5.0       89
1972         Adidas CORE / NEO     5.0       89
523           Adidas ORIGINALS     5.0       79
2033          Adidas ORIGINALS     5.0       79
2596         Adidas CORE / NEO     5.0       78
1428  Adidas SPORT PERFORMANCE     5.0       77
43           Adidas CORE / NEO     5.0       75
500   Adidas SPORT PERFORMANCE     5.0       75
535           Adidas ORIGINALS     5.0       73
710   Adidas SPORT PERFORMANCE     5.0       71
1497          Adidas ORIGINALS     5.0       70
2383  Adidas SPORT PERFORMANCE     5.0       70
719          Adidas CORE / NEO     5.0       67
2559  Adidas SPORT PERFORMANCE     5.0       67
595          Adidas CORE / NEO     5.0       65
952          Adidas CORE / NEO     5.0       65
1201          Adidas ORIGINALS     5.0       64
2361  Adidas SPORT PERFORMANCE     5.0       64

In [18]:
#use head of data frame to demonstrate columns in adidas data frame
#indexing of 25 for top 25 most reviewed and highest rated.
most_rated.head(25)

,Product Name,Brand,Rating,Reviews
267,Men's adidas Toe Side II Slippers,Adidas CORE / NEO,5.0,99
1800,Men's adidas Running Asweego Shoes,Adidas CORE / NEO,5.0,99
1849,MEN'S ADIDAS RUNNING NAYO 2.0 SHOES,Adidas CORE / NEO,5.0,97
1039,Men's adidas Sport Inspired Court Adapt Shoes,Adidas CORE / NEO,5.0,96
2505,Men's adidas Originals Liberty Cup Shoes,Adidas ORIGINALS,5.0,94
731,WOMEN'S ADIDAS ORIGINALS ARKYN PRIMEKNIT SHOES,Adidas ORIGINALS,5.0,92
1476,Men's adidas Originals Superstar MG Shoes,Adidas ORIGINALS,5.0,90
1049,Men's adidas Running Norad Shoes,Adidas CORE / NEO,5.0,89
1972,Men's adidas Sport Inspired Lite Racer RBN Shoes,Adidas CORE / NEO,5.0,89
523,Women's adidas Originals SL Andridge Shoes,Adidas ORIGINALS,5.0,79
2033,MEN'S ADIDAS ORIGINALS GAZELLE SHOES,Adidas ORIGINALS,5.0,79
2596,Men's Sport Inspired Roguera Shoes,Adidas CORE / NEO,5.0,78
1428,WOMEN'S ADIDAS RUNNING EDGEBOUNCE SHOES,Adidas SPORT PERFORMANCE,5.0,77
43,Women's adidas Running Sooraj Shoes,Adidas CORE / NEO,5.0,75
500,Men's adidas Outdoor Naha Shoes,Adidas SPORT PERFORMANCE,5.0,75
535,Women's adidas Originals Deerupt Runner Shoes,Adidas ORIGINALS,5.0,73
710,Men's adidas Outdoor Spry II Sandals,Adidas SPORT PERFORMANCE,5.0,71
1497,Men's adidas Originals Rivalry Low Shoes,Adidas ORIGINALS,5.0,70
2383,Men's adidas Football Predator 19.3 Firm Groun...,Adidas SPORT PERFORMANCE,5.0,70
719,Women's adidas Sport Inspired Advantage Shoes,Adidas CORE / NEO,5.0,67
2559,Men's adidas Running PulseBoost HD Shoes,Adidas SPORT PERFORMANCE,5.0,67
595,Men's Running Adispree 5.0 Shoes,Adidas CORE / NEO,5.0,65
952,MEN'S ADIDAS SPORT INSPIRED COURT 70S SHOES,Adidas CORE / NEO,5.0,65
1201,Women's adidas Originals Supercourt RX Shoes,Adidas ORIGINALS,5.0,64
2361,Men's adidas Football X 19.4 Indoor Shoes,Adidas SPORT PERFORMANCE,5.0,64

In [19]:
#creating descending order of the top 25 rated nike shoes in the nike data frame.
#no nikes made the list in the orignal data frame which was used in previous cell
nike_top25 = nikedf.sort_values(["Rating", "Reviews"], ascending=(False, False))
nike_top25.head(25)

                                    Product Name Brand  Rating  Reviews
2635                             Nike Air Max 90  Nike     5.0        9
2695                             Nike Air Max 90  Nike     5.0        9
2736                    Nike Air Force 1 '07 LV8  Nike     5.0        6
2965                   Nike Air Zoom Wildhorse 5  Nike     5.0        6
3013                      Nike Air Max 720 (OBJ)  Nike     5.0        5
3093       Nike Air Zoom Pegasus 36 Premium Rise  Nike     5.0        5
2966                      Nike Air Max 720 Waves  Nike     5.0        4
2979                             Nike Joyride CC  Nike     5.0        4
2661                    Nike Air Force 1 '07 LV8  Nike     5.0        3
2721                            Nike Daybreak SP  Nike     5.0        3
2737                             Nike Air Max 90  Nike     5.0        3
2755                      Nike Air Zoom Winflo 6  Nike     5.0        3
2768                    Nike Air Force 1 '07 LV8  Nike     5.0        3
2885                    Jordan Trunner NXT React  Nike     5.0        3
2890                                     Kyrie 5  Nike     5.0        3
2936                     Nike Zoom Fly 3 Premium  Nike     5.0        3
3006                     Nike Epic Phantom React  Nike     5.0        3
3113                            Nike Air Max Dia  Nike     5.0        3
3244                          Nike Pre-Love O.X.  Nike     5.0        3
2634                  Nike Air Max 270 React ENG  Nike     5.0        2
2647                         Air Jordan XXXIV PF  Nike     5.0        2
2678                 Jordan 'Why Not?' Zer0.3 PF  Nike     5.0        2
2680                           Nike Metcon 5 AMP  Nike     5.0        2
2692                     Nike Air Max 90 Premium  Nike     5.0        2
2694  Nike Epic Phantom React A.I.R. Cody Hudson  Nike     5.0        2

In [20]:
#write out csv report file comparing ratings for adidas and nike
import csv
#labeling report file
with open('ratings&reviews_report_file.csv',mode='w')as csv_file:
  #define fieldnames
  fieldnames1=['statement','output']
  writer=csv.DictWriter(csv_file, fieldnames=fieldnames1)

#create header
  writer.writeheader()
  #create rows for mean info
  writer.writerow({'statement': 'The average ratings for adidas shoes','output':'\'' + str(round(adidas_rating,2)) + '\''})
  writer.writerow({'statement': 'The average ratings for nike shoes','output': '\'' + str(round(nike_rating,2)) + '\''})
  writer.writerow({'statement': 'The average number of reviews for adidas shoes','output': '\'' + str(round(adidas_reviews,2)) + '\''})
  writer.writerow({'statement': 'The average number of reviews for nike shoes', 'output': '\'' + str(round(nike_reviews,2)) + '\''})
  writer.writerow({'statement': 'The brand with the best ratings is','output': 'Adidas'})
  writer.writerow({'statement': 'The brand that averages the most reviews is', 'output': 'Adidas'})
  writer.writerow({'statement': '168 out of the 170 best shoes were made by', 'output': 'Adidas'})
  writer.writerow({'statement': 'People really feel passionate about', 'output': 'Adidas'})

In [21]:
#creating a new data frame for shoes who have High ratings and High Reviews
#Standard is set as ratings greater than 4.55 and reviews greater than 60
#data frame is given the value ninety_fourth_df for 94th percentile.
ninety_fourth_df = best_shoesdf[(best_shoesdf['Rating']>4.55) & (best_shoesdf['Reviews'] > 60.00)]
print(ninety_fourth_df)

                                        Product Name  \
27      Women's adidas Sport Inspired Arcadeis Shoes
34    Women's adidas Sport Inspired Quickspike Shoes
43               Women's adidas Running Sooraj Shoes
56               Women's adidas Running Sooraj Shoes
62              Women's adidas Running Aseerun Shoes
...                                              ...
2596              Men's Sport Inspired Roguera Shoes
2599    Kids-Unisex adidas Tennis Adizero Club Shoes
2607          Men's adidas Tennis Wucht Indoor Shoes
2750                             Air Jordan 10 Retro
2780                 Nike React Infinity Run Flyknit

                         Brand  Rating  Reviews
27           Adidas CORE / NEO     4.9       95
34           Adidas CORE / NEO     4.8       85
43           Adidas CORE / NEO     5.0       75
56           Adidas CORE / NEO     4.8       94
62           Adidas CORE / NEO     4.8       77
...                        ...     ...      ...
2596         Adidas CORE / NEO     5.0       78
2599  Adidas SPORT PERFORMANCE     4.9       84
2607  Adidas SPORT PERFORMANCE     4.7       89
2750                      Nike     4.7      223
2780                      Nike     4.6       68

[170 rows x 4 columns]

In [22]:
#show the nike shoes that made the list
ninety_fourth_df.tail()

,Product Name,Brand,Rating,Reviews
2596,Men's Sport Inspired Roguera Shoes,Adidas CORE / NEO,5.0,78
2599,Kids-Unisex adidas Tennis Adizero Club Shoes,Adidas SPORT PERFORMANCE,4.9,84
2607,Men's adidas Tennis Wucht Indoor Shoes,Adidas SPORT PERFORMANCE,4.7,89
2750,Air Jordan 10 Retro,Nike,4.7,223
2780,Nike React Infinity Run Flyknit,Nike,4.6,68

In [23]:
#Creating csv file for best rated and most reviews shoes
ninety_fourth_df.to_csv('Best_of_the_best_shoes.csv', sep='\t')